.containerTodoList {
  margin: 0 3vw;
}

.containerBtns {
  height: 3rem;
  border-bottom: 1px solid var(--black);
  display: flex;
  justify-content: space-between;
}

.hideBtns {
  width: 100%;
  position: relative;
  visibility: hidden;
}

.showBtns {
  composes: hideBtns;
  visibility: visible;
}

.deleteTodo {
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 7rem;
  transform: translateY(-50%);
}

.deleteTodo:hover {
  cursor: pointer;
}

.wrapperBtnDispComp {
  composes: showBtns;
  width: fit-content;
}

.incompTodoList {
  height: calc(100vh - 7.125rem - var(--inputArea-height, 2.930625rem));
  overflow-y: scroll;
}

.compTodoList {
  composes: incompTodoList;
  height: calc(100vh - 7.125rem);
}

.showAddTodo {
  max-height: 2.8125rem;
  padding: 0.5rem 0;
  border-top: 1px solid var(--black);
  display: flex;
  justify-content: space-between;
}

.hideAddTodo {
  display: none;
}

.wrapperAddTodo {
  display: flex;
  align-items: center;
}

.addTodo {
  font-size: 1rem;
  line-height: 1.3;
  width: calc(94vw - 4rem);
  max-height: 2.6rem;
  padding: 0.1rem 0.2rem;
  field-sizing: content;
  resize: none;
}

.addTodo::placeholder {
  color: var(--placeholder);
}

.wrapperBtnAdd {
  display: flex;
  align-items: center;
}

/* ToDoを編集する画面 */
.editScreen {
  position: fixed;
  inset: 0 -100vw 0 100vw;
  z-index: 1;
  transition: transform 0.4s;
  background-color: var(--app-color);
}

.open .editScreen {
  transform: translateX(-100%);
}

.wrapperBtn {
  margin-bottom: 1.5rem;
  position: relative;
}

.editScreen .btnClose {
  visibility: hidden;
}

.editScreen .btnClose:hover {
  cursor: pointer;
}

button .close {
  font-size: 2rem;
  transform: translate(calc(97vw - 1.5rem), 0.75rem);
  visibility: visible;
}

.editTitle {
  font-size: 1rem;
  line-height: 1.3;
  width: 94vw;
  height: 2.6rem;
  padding: 0.5rem 3vw;
  border: none;
  margin-bottom: 1.5rem;
  resize: none;
  outline: none;
}

.editTitle::placeholder {
  color: var(--placeholder);
}

.wrapperDayLimit {
  width: 100vw;
  height: 2rem;
  margin-bottom: 1.5rem;
  position: relative;
  display: flex;
  justify-content: center;
}

.editDayLimit {
  font-size: 1rem;
  padding: 0.5rem 3vw;
  border: none;
  margin-bottom: 1.5rem;
  outline: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: text;
}

.editDayLimit::placeholder {
  color: var(--placeholder);
}

.editDayLimit::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.editMemo {
  font-size: 1rem;
  width: 94vw;
  height: calc(100vh - 17.1rem);
  padding: 0.5rem 3vw;
  border: none;
  resize: none;
  outline: none;
}

.editMemo::placeholder {
  color: var(--placeholder);
}

.wrapperBtnSave {
  height: 3rem;
  position: relative;
  display: flex;
  justify-content: center;
}

.todaysDeadline {
  display: none;
}

/* PC用の設定 */
@media (min-width: 768px) {
  .flexContainer {
    display: flex;
  }

  .containerTodoList {
    width: 54vw;
  }

  .addTodo {
    width: calc(54vw - 3.9rem);
  }

  .todaysDeadline {
    width: calc(34vw - 1.625rem);
    height: calc(100vh - 4.625rem);
    padding-left: 1.5rem;
    border: 1px solid var(--black);
    border-radius: 1rem;
    margin: 0 3vw;
    background-color: #ddf0ff;
    display: block;
  }

  .todaysDeadlineHeader {
    line-height: 3rem;
  }

  .todaysDeadlineList {
    /* line-height: 2.5rem; */
    height: calc(100vh - 7.625rem);
    overflow-y: scroll;
  }

  .todaysDeadlineList li {
    line-height: 1.3rem;
    padding: 0.6rem 0;
    margin-left: 1.4rem;
    text-indent: -1.4rem;
  }

  /* ToDoを編集する画面 */
  .editScreen {
    width: 60vw;
    inset: 0 60vw 0 -60vw;
  }

  .open .editScreen {
    transform: translateX(100%);
  }

  button .close {
    transform: translate(calc(57vw - 1.5rem), 0.75rem);
  }

  .editTitle {
    width: 54vw;
  }

  .wrapperDayLimit {
    width: 60vw;
  }

  .editMemo {
    width: 54vw;
  }
}
