.containerMain {
  margin-left: 3vw;
  margin-right: 3vw;
}

.containerBtns {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--black);
}

.hideBtns {
  position: relative;
  width: 100%;
  visibility: hidden;
}

.showBtns {
  composes: hideBtns;
  visibility: visible;
}

.deleteTodo {
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 7rem;
  transform: translateY(-50%);
}

.wrapperBtnDispComp {
  composes: showBtns;
  width: fit-content;
}

.incompTodoList {
  height: calc(100vh - 7.125rem - var(--inputArea-height, 2.875rem));
  overflow-y: scroll;
}

.compTodoList {
  composes: incompTodoList;
  height: calc(100vh - 7.125rem);
}

.showAddTodo {
  border-top: 1px solid var(--black);
  max-height: 2.8125rem;
  padding: 0.5rem 0;
  margin: 0 3vw;
  display: flex;
  justify-content: space-between;
}

.hideAddTodo {
  display: none;
}

.wrapperAddTodo {
  display: flex;
  align-items: center;
}

.addTodo {
  font-size: 1rem;
  line-height: 1.3;
  width: calc(94vw - 3.9rem);
  max-height: 2.6rem;
  padding: 0.1rem 0.2rem;
  field-sizing: content;
  resize: none;
}

.addTodo::placeholder {
  color: var(--placeholder);
}

.wrapperBtnAdd {
  display: flex;
  align-items: center;
}

/* モバイル版の編集画面の設定 */
.info {
  position: fixed;
  inset: 0 -100% 0 100%;
  z-index: 1;
  transition: transform 0.4s;
  background-color: var(--app-color);
}

.open .info {
  transform: translateX(-100%);
}

.wrapperBtn {
  margin-bottom: 1.5rem;
  position: relative;
}

.info .btnClose {
  visibility: hidden;
}

button .close {
  font-size: 2rem;
  transform: translateX(calc(97vw - 1.5rem));
  visibility: visible;
}

.todoTitle {
  font-size: 1rem;
  line-height: 1.3;
  width: 94vw;
  height: 2.6rem;
  resize: none;
  padding: 0.5rem 3vw;
  margin-bottom: 1.5rem;
  border: none;
  outline: none;
}

.todoTitle::placeholder {
  color: var(--placeholder);
}

.wrapperDayLimit {
  width: 100vw;
  height: 2rem;
  margin-bottom: 1.5rem;
  position: relative;
  display: flex;
  justify-content: center;
}

.dayLimit {
  font-size: 1rem;
  padding: 0.5rem 3vw;
  margin-bottom: 1.5rem;
  border: none;
  outline: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.dayLimit::placeholder {
  color: var(--placeholder);
}

.todoMemo {
  font-size: 1rem;
  width: 94vw;
  height: calc(100vh - 17.1rem);
  resize: none;
  padding: 0.5rem 3vw;
  border: none;
  outline: none;
}

.todoMemo::placeholder {
  color: var(--placeholder);
}

.wrapperSaveBtn {
  height: 3rem;
  position: relative;
  display: flex;
  justify-content: center;
}

/* PC用の設定 */
@media (min-width: 768px) {
  .container {
    width: 80vw;
    margin: 1rem auto;
  }

  .addTodo {
    font-size: 1.3rem;
    height: 2rem;
    width: 50vw;
  }
}

/* 大きいディスプレイ用の設定 */
@media (min-width: 1400px) {
  .container {
    max-width: 1120px;
  }

  .containerBtns {
    width: 1036px;
  }

  .addTodo {
    width: 700px;
    left: 42px;
  }
}
