.container {
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  min-height: 1.5rem;
  max-height: 2.6rem;
  padding: 0.5rem 0;
}

.containerTodo {
  position: relative;
}

.checkbox {
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.textTodo {
  font-size: 1rem;
  line-height: 1.3;
  width: calc(94vw - 3.4125rem);
  max-height: 2.6rem;
  field-sizing: content;
  resize: none;
  position: absolute;
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%);
}

.textTodo::placeholder {
  color: var(--placeholder);
}

.containerIcons {
  position: relative;
}

.positionIcons {
  color: var(--black);
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.icon {
  composes: positionIcons;
}

.icon:hover {
  cursor: pointer;
}

.deadLine {
  composes: positionIcons;
  font-size: 1rem;
  right: 3.1875rem;
  width: 5rem;
  height: 1.5rem;
  z-index: -1;
}

.deadLine::placeholder {
  color: var(--placeholder);
}

.calendar {
  composes: icon;
  right: 1.625rem;
  z-index: -1;
}

.memo {
  composes: icon;
  right: 0rem;
  z-index: -1;
}

.btnInfo {
  visibility: hidden;
}

.menu {
  composes: icon;
  right: 0rem;
  visibility: visible;
}

/* PC用の設定 */
@media (min-width: 768px) {
  .container {
    height: 3rem;
  }

  .checkbox {
    width: 1.5rem;
    height: 1.5rem;
  }

  .textTodo {
    font-size: 1.3rem;
    width: calc(74vw - 14.75rem);
    left: 2.5rem;
  }

  .icon {
    font-size: 2rem;
  }

  .deadLine {
    font-size: 1.3rem;
    right: 4.75rem;
    width: 6.5rem;
    height: 2rem;
    z-index: 0;
  }

  .calendar {
    right: 2.5rem;
    z-index: 0;
  }

  .memo {
    right: 0rem;
    z-index: 0;
  }

  .menu {
    z-index: -1;
  }
}

/* 大きい画面用の設定 */
@media (min-width: 1400px) {
  .container {
    width: 1036px;
  }

  .textTodo {
    width: 800px;
  }
}
