:root {
  /* カラー */
  --black: #000000;
  /* --gray: #d9d9d9; */
  --app-color: aliceblue;
  --placeholder: #aaaaaa;

  /* タイポグラフィ（フォントサイズ） */
  --heading1: 2rem;
}

/* リセット */
* {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
}

/* 基本設定 */
body {
  color: var(--black);
  background-color: var(--app-color);
  font-family: --apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif;
}

li {
  list-style-position: inside;
}
