.btn:hover {
  cursor: pointer;
}

.add {
  composes: btn;
  color: var(--white);
  background-color: var(--black);
  padding: 0.2rem 0.4rem;
  border-radius: 0.4rem;
}

.save {
  composes: add;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.comp {
  composes: add;
  position: absolute;
  top: 50%;
  left: 3.5rem;
  transform: translateY(-50%);
}

.dispComp {
  composes: add;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  transform: translate(-100%, -50%);
}

.mobileSave {
  composes: add;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* PC用の設定 */
@media (min-width: 768px) {
  .add {
    padding: 0.5rem 1.5rem;
  }

  .comp {
    left: 6rem;
  }
}

/* 大きい画面用の設定 */
@media (min-width: 1400px) {
  .add {
    left: 49.625rem;
  }
}
