.btn:hover {
  cursor: pointer;
}

.btnAdd {
  composes: btn;
  padding: 0.2rem 0.4rem;
  border-radius: 0.4rem;
  background-color: lightcyan;
}

.btnSave {
  composes: btnAdd;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.btnComp {
  composes: btnAdd;
  position: absolute;
  top: 50%;
  left: 3.5rem;
  transform: translateY(-50%);
}

.btnDispComp {
  composes: btnAdd;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  transform: translate(-100%, -50%);
}
