.btn:hover {
  cursor: pointer;
}

.btnAdd {
  composes: btn;
  /* color: var(--white); */
  background-color: lightcyan;
  padding: 0.2rem 0.4rem;
  border-radius: 0.4rem;
}

.btnSave {
  composes: btnAdd;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.btnComp {
  composes: btnAdd;
  position: absolute;
  top: 50%;
  left: 3.5rem;
  transform: translateY(-50%);
}

.btnDispComp {
  composes: btnAdd;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  transform: translate(-100%, -50%);
}

.mobileSave {
  composes: btnAdd;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* PC用の設定 */
@media (min-width: 768px) {
  .btnAdd {
    padding: 0.5rem 1.5rem;
  }

  .btnComp {
    left: 6rem;
  }
}

/* 大きい画面用の設定 */
@media (min-width: 1400px) {
  .btnAdd {
    left: 49.625rem;
  }
}
